<!DOCTYPE html>

<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" />
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/non-ios-extensions.js"></script>
    <script charset="utf-8" src="https://static.line-scdn.net/liff/edge/2/sdk.js"></script>

</head>

<body>
    <script>
        $(document).ready(function () {
            // Using a Promise object
          var liffid= "1657145608-9A43VNYe" ;
          console.log(liffid);
            liff
                .init({
                    liffId: liffid // Use own liffId
                })
                .then(() => {
                    // Start to use liff's api
                    var place = liff.getOS();
                    console.log(place)
                    console.log(liff.getVersion())
                    console.log(liff.isLoggedIn() )
                    var access_token = liff.getAccessToken()
                    console.log(access_token)
                    $('#info').html(access_token)
                    if(!liff.isLoggedIn() ){
                        liff.login() 
                    }
                  console.log(liff.getProfile())
                    // if (liff.scanCodeV2) {
                    //     liff.scanCodeV2().then(result => {
                    //         $('#scan').html(result)
                    //         console.log(result)
                    //         // result = { value: '' }
                    //     });
                    // }
                    // if (liff.scanCode) {
                    //     liff.scanCode().then(result => {
                    //         $('#scan').html(result)
                    //         console.log(result)
                    //         // result = { value: '' }
                    //     });
                    // }
                   window.history.back()
                })
                .catch((err) => {
                    // Error happens during initialization
                    console.log(err.code, err.message);
                });
            
        });
      const other_liff = ()=>{
            // liff.openWindow({
            //     url: "https://liff.line.me/1657145933-YrzD4AJb",
            //     external: false,
            //   });
        window.open("https://liff.line.me/1657145933-YrzD4AJb","_self")
        }
    </script>
    test2
    <div id="info"></div>
    <div id="scan"></div>
  <button onclick="other_liff()">test</button>
</body>